/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
 
body {font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;}

.col-lg-12 .bg{
background-image: url('images/OrmondeCastle-1024x509-1024x509.jpg');
height: 509px;
background-repeat: no-repeat;
}
.logo-outer {
  margin: 0 auto;
  max-width: 1140px;
}
.sponsors{
background: #F3F3F3;
border-top: 1px solid #D6D6D6;
clear:both}
.frontpage img{
width: 100% !important}

.site-header1 {
  padding: 0;
  border-bottom: 1px solid #dbdbdb !important;
  margin-bottom: 25px !important;
  box-shadow: 0px 2px 4px #d9d9d9 !important;

}
.container{
max-width: 80%;
}
.standardtxt {
font-size: 18px !important;
  color: #5b5b5b !important;
  text-align: left !important;
  font-weight: normal !important;
  font-family: 'Open Sans' !important;
	 margin-bottom: 20px}
	 
.subtxt {
font-size: 14px !important;
  color: #5b5b5b !important;
  text-align: left !important;
  font-weight: lighter !important;
  font-family: 'Open Sans' !important;
	 	 margin-bottom: 20px}
.calltoaction{	 
position: relative;
  background-color: #f7f7f7;
  padding: 35px;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  margin-top: 10px;
    margin-bottom: 10px;
	border-radius: 5px;
	clear: both;}

	
.field-name-node-link a{
background-color: #dd9933;
  width: 100% !important;
  font-family: 'Open Sans' !important;
  color: #ffffff !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-size: 16px !important;
  margin-top: 20px !important;
  padding: 5px;}
  
.field-name-node-link a:hover {
text-decoration:none}
.text-center {
  text-align: center;
  clear: left;}
H2.teaser-header{
  background-color: #819e70;
  padding: 5px;
  color: #fff;
  min-height:70px;
  margin-top:0px;
    text-align: center !important;
	Width:100%
  }
  
.field-name-field-photos a{
background-color: #fff !important;}

#block-views-stay-tax-menu-block-2 H2{
color: orange;
  font-weight: 900;
  text-align: left;
  font-size: 18px;
  margin-bottom: 3px !important;
  padding-bottom: 0px !important;
  text-transform: none;}
  
#block-views-stay-tax-menu-block-2 a {
  font-size: 13px;
  color: #808080;
  font-weight: normal;
  margin:0px;
}
.vocabulary-explore h2{
margin-bottom:0px !important;
margin-top:0px !important;}

#block-views-stay-tax-menu-block-2 a:hover{
  font-size: 13px;
  color: #000;
  font-weight: normal;
  text-decoration: underline;
}

#block-views-stay-tax-menu-block-3 H2{
color: orange;
  font-weight: 900;
  text-align: left;
  font-size: 18px;
  margin-bottom: 3px !important;
  padding-bottom: 0px !important;
  text-transform: none;}
  
#block-views-stay-tax-menu-block-3 a {
  font-size: 13px;
  color: #808080;
  font-weight: normal;
  margin:0px;
}
.vocabulary-experience h2{
margin-bottom:0px !important;
margin-top:0px !important;}

#block-views-stay-tax-menu-block-3 a:hover{
  font-size: 13px;
  color: #000;
  font-weight: normal;
  text-decoration: underline;
}

#block-views-stay-tax-menu-block H2{
color: orange;
  font-weight: 900;
  text-align: left;
  font-size: 18px;
  margin-bottom: 3px !important;
  padding-bottom: 0px !important;
  text-transform: none;}
  
#block-views-stay-tax-menu-block a {
  font-size: 13px;
  color: #808080;
  font-weight: normal;
  margin:0px;
}
.vocabulary-stay h2{
margin-bottom:0px !important;
margin-top:0px !important;}

#block-views-stay-tax-menu-block a:hover{
  font-size: 13px;
  color: #000;
  font-weight: normal;
  text-decoration: underline;
}
#block-views-stay-tax-menu-block-1 H2{
color: orange;
  font-weight: 900;
  text-align: left;
  font-size: 18px;
  margin-bottom: 3px !important;
  padding-bottom: 0px !important;
  text-transform: none;
}
#block-views-stay-tax-menu-block-1 a{
  font-size: 13px;
  color: #808080;
  font-weight: normal;
  margin:0px;
}
#block-views-stay-tax-menu-block-1 a:hover{
  font-size: 13px;
  color: #000;
  font-weight: normal;
  text-decoration: underline;
}
.sliderphoto .field-content img{
border:0px solid #000 !important;
padding:0px;
margin-top:0px;
margin-left:0px;
width:100%;
margin-bottom:0px;
height: 100px;

}
.sliderphoto{
margin: 0px;
margin-bottom: 10px;}

.sliderphoto .views-field-title 
{
background-color: #dd9933!important;
color:#fff!important;
min-height:60px!important;
padding: 10px!important;
margin:0px !important;
font-size:12px!important;
}
.sliderphoto .views-field-title .field-content a{
background-color: #dd9933!important;
color:#fff!important;
min-height: 60px!important;
  padding: 0px!important;
  margin: 0 !important;
  font-size: 12px!important;
  font-weight: normal !important;
  width:100%;
  text-align: center !important;
}

.view-related-tax .views-row{
	width: auto;
  display: inline;
  position: relative;

}
.view-related-tax .views-row a{
padding: 10px;
background:#666;
display:inline-block;
font-size:11px;
color:#fff;
margin-bottom:5px;
}
.view-related-tax .views-row a:hover
{
background:#dd9900;
text-decoration:none;
}
.view-related-tax .views-row .active{
background:#000
}

.view-taxonomy-term .views-exposed-form{
background:#555;
min-height: 20px;
  padding: 19px;
  margin-bottom:20px;
  
}
.views-exposed-form label {
  font-weight: normal;
  color:#fff;
 font-family: 'Open Sans';
  font-weight: 200;
  font-size: 24px;
  }
.btn-info{
color: #fff;
  background-color: #819e70;
  border:0px;
  border-radius:0px;
  margin-top: 3.2em !important;
  }
  
  .btn-info:hover
  {
color: #fff;
  background-color: #819e70;
  border:0px;
  border-radius:0px;
  margin-top: 3.2em !important;
  }

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 0px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  box-shadow: inset 0 0px 0px rgba(0,0,0,0);}
  .breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 0px;}
  
.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 440px;
  height: 152px !important;
  padding: 20px 40px;
  margin: auto;}
   
  .jcarousel-skin-default .jcarousel-item{
  height: 100% !important;
  width: 150px;
  border: 8px solid #FFF;
}
li.topmenu h2.block-title{
  font-size: 13px;
  color: #808080 !important;
  font-weight: normal;
  margin:0px;
  display:none !important;
}


.topmenu{
padding-left: 20px;
  padding-bottom: 10px;
  }


.vocabulary-eat h2{
margin-bottom:0px !important;
margin-top:0px !important;}
 /** 
.col-md-4:nth-child(4n+1) {
margin-left:0;
}
.col-md-4:nth-child(7n+1) {
margin-left:0;
clear:both;
}
.col-md-4:nth-child(10+1) {
margin-left:0;
clear:both;
}
*/

.wraptax{
height: 470px;
border: 1px solid #ccc;
padding:10px;
margin:5px;
padding-bottom:15px !important;
}
.wraptax img{
height: 250px;
border: 0px solid #ccc !important;
padding:0px !important;
margin:0px !important;
width: 100% !important;
}
.wraptax .field-name-node-link {
background-color: #dd9933;
  font-family: 'Open Sans' !important;
  color: #fff !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-size: 16px !important;
  margin-top: 20px !important;
  padding: 5px;
width: 120px;
  margin: 0px auto;
  text-align:center;
  }



.field-item img{
border: 1px solid #ccc;
padding: 10px;
width: 220px;
margin:5px;}
.field-label{
display: block !important;
  color: #d77c23;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;}
  
  
#block-views-testloc-block {
margin-top: 20px;
margin-bottom: 10px;}
.field-name-field-photos .field-item {
display: inline;}
	
.calltoaction img{
display: none !important;
}
.calltoaction p a {
color: orange}
.calltoaction a{
font-size: 24px;
color: #000;
font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200 !important;
}
.calltoaction a:hover{
text-decoration: none;
}
.field-name-field-image{
 float: right;
  margin: 20px;
  border: 0px solid #C2C2C2;
  padding: 10px;}
.field-name-field-image-2{
 float: left;
  margin: 20px;
  border: 0px solid #C2C2C2;
  padding: 10px;}
  .field-type-text-with-summary{
  margin-bottom:20px}
  .wrapperpadding {
  margin:20px;}
  
  .file-icon {
  display:none;
  }
  
#edit-submitted-your-email-address.form-email {
background-color:#fff;
border:1px solid #ccc;
margin-bottom: 5px;}

.fiftyperc {
  width: 45%;
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.fiftyperc img {
max-width: 100%}

.frontpage a {
font-size: 14px;
  line-height: 24px;
  color: #819e70;
  font-weight: 600;
  display: inline-block;
  float: none;
  clear: both;
  margin: 0px 0px 0px 0px;
  padding: 4px 12px 3px 12px;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255,255,255,1.00);
  position: relative;
  z-index: 2 !important;
  text-transform: capitalize;}

.wpb_button {
	max-width: 27.5%;
  background-color: #ff9900;
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  float: right;
  }
  
#block-block-1>.block-title {
font-size: 20px !important;
  font-family: 'Open Sans' !important;
  background-color: #d77c23;
  color: #ffffff;
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 600;
  display: inline-block;
  padding-right: 20px;
}


.banner-footer{
font-size: 10px;
  color: #ffffff;
  font-weight: 500;
  background-color: rgba(129,158,112,1.00);
  font-family: "Open Sans";
  text-transform: uppercase;
  margin-right: 14px;
  padding: 8px;}
.banner-footer a{
color: #fff;
text-decoration: none;}
.banner-footer a:hover{
color: #fff;
text-decoration: underline;}
.email {
float: left;}
h2 a{
text-decoration: none;
color: #808080;
font-weight: 600;
font-size: 18px}
h2 a:hover{
text-decoration: none;
}
#node-1785 {
padding-bottom: 20px}
#node-1786 {
  background-color: #555555;
  text-align: center;
  padding: 40px !important;
  margin-bottom: 20px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin: 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #6e6e6e;
  background-image: none;
  border: 0px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-email{
float: none;
margin-left: 5px;
width: 100%;
padding: 6px 12px;
color: #555;
background-color: #6e6e6e;
border: 0px;}
  .form-select {
  color: #A1A1A1;
  margin-left:5px;
  width: 100%}
  .form-textarea-wrapper {
  width: 100%;
  margin-left: 5px;
  margin-bottom: 10px}
.webform-client-form-1786 button{
  text-align: left !important;
  padding-left: 20px !important;
  margin-top: 20px !important;
  background-color: #819c6f !important;
  color: #ffffff !important;
  font-family: 'Open Sans' !important;
  font-weight: 600 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 16px !important;
  border-radius: 0px;
  border: 0px;
}
  
.btn-primary {
  height: 32px;
  background-color: #d77c23 !important;
  padding: 0 4px 0 4px !important;
  margin: 0px !important;
  font-size: 11px;
  text-transform: none;
  float: right;
  border-color: #fff;
}

H2 {
font-family: 'Open Sans';
  font-style: lighter;
  font-weight: 300;
  font-size: 24px;}
h1 {
	font-family: 'Open Sans';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}
h3 {
	font-family: 'Open Sans';
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 15.3999996185303px;
}
p {
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: 'Open Sans';
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Open Sans';
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714282989502px;
}
  
.page-header {
  font-size: 40px !important;
   font-family: 'Open Sans' !important;
  background-color: #d77c23;
  color: #ffffff;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-style: normal;
  font-weight: 200;
  line-height: 1.2;
  margin: 0 0 16px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  }

.views-field-field-front-page-grid-1-1 .field-content,
.views-field-field-front-page-grid-1-2 .field-content,
.views-field-field-front-page-grid-1-3 .field-content,
.views-field-field-front-page-grid-2-1 .field-content,
.views-field-field-front-page-grid-2-2 .field-content,
.views-field-field-front-page-grid-3-1 .field-content,
.views-field-field-front-page-grid-3-2 .field-content,
.views-field-field-front-page-grid-3-3 .field-content,
.views-field-field-front-page-grid-4-1 .field-content,
.views-field-field-front-page-grid-4-2 .field-content
{
overflow: hidden;
max-height: 380px
}

.fp-spacing{
margin-top: 10px;
}

.views-field-title .field-content a{
  font-size: 14px;
  line-height: 24px;
  color: #819e70;
  font-weight: 600;
  display: inline-block;
  float: none;
  clear: both;
  margin: 0px 0px 0px 0px;
  padding: 4px 12px 3px 12px;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255,255,255,1.00);
  position: relative;
  z-index: 2 !important;
  text-transform: capitalize
}

.carousel-caption{
right: 0px;
left: 50%
}
.carousel-caption h3{
background-color: rgb(0,0,0); opacity: 0.75;
padding: 10px;
color: #ea7c1c;
  font-weight: 900;
  font-size:24px;
}
.carousel-caption a{
background-color: rgb(0,0,0); opacity: 0.75;
padding: 10px;
color: #ea7c1c;
  font-weight: 900;
  font-size:24px;
}
.carousel-caption a:hover{
text-decoration: none;
}
.carousel-caption p{
background-color: rgb(0,0,0); opacity: 0.75;
padding: 10px;
color: #fff;
font-weight: 300;
font-size:14px;
}
.header-title {
font-size: 20px !important;
  font-family: 'Open Sans' !important;
  background-color: #d77c23 !important;
  color: #ffffff !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  padding-left: 20px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  font-weight: 200 !important;
  display: inline-block !important;
  padding-right: 20px !important;}
.logo{
margin-top:20px;
margin-bottom: 20px;
}

.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-default{
margin-top: 25px;
}

.dropdown a{
font-size: 24px;
color: #dd9933 !important;
}
.dropdown-menu {
background: #000;
top: 76px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
background-color: #fff;
}
.sponsored {
padding-top: 10px;
padding-bottom: 10px;}
.sponsored1 {
font-size: 12px;
color: #808080}
.copyright {
background: #333;
padding: 10px;
color: #fff;
font-size: 11px;}

.dropdown a {
font-weight: bold;}

.dropdown-menu>li>a {
font-size: 17px;
font-weight: normal;
color: #fff !important;}
.dropdown-menu>li>a:hover {
color: #7CAF6D !important;
background-color: transparent;
}

.view-email-sub {
background-color: #fff;
padding: 10px;
margin-top: 20px}


.carousel-inner>.item img {
width: 100% !important}
.footer{
background-color:#e4e4e4;
min-height: 150px;
}

#block-menu-menu-footer-1 a{
  font-size: 12px;
  color: #808080;
  font-weight: bold;}
  
#block-menu-menu-footer-1 a:hover{
background-color: transparent !important;}
  
#block-menu-menu-footer-1 H2{ 
color: orange;
  font-weight: 900;
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px !important;
  padding-bottom: 0px !important;
  text-transform: none;}

#block-menu-menu-footer-menu2 a:hover{
background-color: transparent !important;}

#block-menu-menu-footer-menu2 a{
  font-size: 12px;
  color: #808080;
  font-weight: bold;}
  
#block-menu-menu-footer-menu2 H2{ 
color: orange;
  font-weight: 900;
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px !important;
  padding-bottom: 0px !important;
  text-transform: none;}
#block-menu-menu-footer-menu3 a:hover{
background-color: transparent !important;}
#block-menu-menu-footer-menu3 a{
  font-size: 12px;
  color: #808080;
  font-weight: bold;}
  
#block-menu-menu-footer-menu3 H2{ 
color: orange;
  font-weight: 900;
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px !important;
  padding-bottom: 0px !important;
  text-transform: none;}
#block-menu-menu-footer-menu4 a{
  font-size: 12px;
  color: #808080;
  font-weight: bold;}
  
#block-menu-menu-footer-menu4 H2{ 
color: orange;
  font-weight: 900;
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px !important;
  padding-bottom: 0px !important;
  text-transform: none;}
  #block-menu-menu-footer-menu4 a:hover{
background-color: transparent !important;}
  
.footer {
min-height: 200px;
padding-bottom: 10px;
border-top: 1px solid #D6D6D6;
border-bottom: 1px solid #D6D6D6;}
  
.view-front-page-grid {
border-bottom: 2px solid #D6D6D6;
margin-bottom: 10px}  
  
.top-menu {
background-color: #000;
color: #fff;} 

.top-menu li{
display: inline-block !important;
}

.top-menu li a{
color: #fff;
}

.top-menu li a:hover{
background-color: #EA7C1C;
}

.top-menu li a.active{
background-color: #7CAF6D;
}
.social {
margin-right: 80px}
.social img {
padding: 5px}
  
.leaf{
height: 20px;
}

.fp-spacing .bottom{
padding-left: 0px !important;
padding-right: 0px !important;
}

.fp-spacing .bottom1{
padding-right: 0px !important;
}

/*Admin theme*/
.hierarchical-select .form-select{
width: 250px
}

/*Hide scrollbar on menu in mobile view*/
.navbar-collapse.in {
  overflow: hidden;
}

.webform-client-form-2221 .form-control,
.webform-client-form-2221 .form-email
{
background-color: #F3F3F3;
}

.rightcol .field-name-field-location,
.rightcol .field-name-field-contact-name,
.rightcol .field-name-field-fax,
.rightcol .field-name-field-email,
.rightcol .field-name-field-web,
.rightcol .field-name-field-county,
.rightcol .field-name-field-phone
{
margin-bottom: 15px;
}

#block-views-node-carousel-block-1{
margin-bottom: 40px;
}




